@import "colors.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--monospace);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
}

.pokedex-area {
  margin-top: 3rem;
}

.pokedex {
  height: 500px;
  width: 360px;
  border-radius: 3rem;
  background-color: var(--red);
  border: 3px solid var(--lightGrey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-area {
  min-width: 300px;
  min-height: 380px;
  background-color: var(--yellow);
  border: 3px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.pokemon-area::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 70px;
  background-color: var(--darkGrey);
  border-top: solid 3px var(--lightGrey);
  top: -76px;
  left: 38px;
  border-radius: 100% 100% 0 0;
}

.pokemon-area::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 70px;
  background-color: var(--darkGrey);
  border-top: solid 3px var(--lightGrey);
  bottom: -76px;
  transform: rotate(180deg);
  left: 38px;
  border-radius: 100% 100% 0 0;
}

.pokemon-display {
  min-width: 200px;
  min-height: 130px;
  margin: 0 auto;
  border: solid 3px var(--white);
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-name,
.search-area {
  color: white;
  text-align: center;
  margin-top: 0.875rem;
  font-size: 1.8rem;
}

.poke-info {
  max-width: 350px;
  margin: 1rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 1rem;
}

.poke-info label {
    color:var(--darkGrey);
}

.poke-info span {
    color: var(--white);

}


.poke-height,
.poke-weight,
.poke-type {
  font-size: 1.5rem;
  grid-column: 1/2;
}

.poke-form {
  display: flex;
  justify-content: center;
}

.poke-search {
  height: 3rem;
  border: none;
  outline: none;
  text-align: center;
}

.poke-search:invalid {
    animation: shake .3s;
    border: 2px solid var(--red);
}

@keyframes shake {
  25% {transform: translateX(4px)}
  50% {transform: translateX(-4px)}
  75% {transform: translateX(4px)}
}

#search {
  border: none;
  height: auto;
  border-radius: 0 1rem 1rem 0;
  padding: 0.5rem;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--red);
  cursor: pointer;
}

.error-area {
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 475px) {
  .pokedex {
    width: 300px;
  }

  .pokemon-area {
    min-width: 250px;
    min-height: 200px;
  }

  .pokemon-area::before,
  .pokemon-area::after {
    width: 150px;
    left: 47px;
  }
}
